@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #e14177;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header h1 {
    font-family: "Roboto", sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

main {
    padding: 20px;
    margin: 10px 50px;
}

main h2 {
    font-family: "Poppins", sans-serif;
    color:#054bb4;
}

.dashboard-section {
    font-family: "Montserrat", sans-serif;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    font-family: "Roboto", sans-serif;
    background-color: #e14177;
    color: white;
    text-align: center;
    padding: 10px 0;
}

