@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* header */
#header button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    padding: 9px 25px;
    color: #ffffff;
    background-color: #e14177;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#header button:hover {
    background-color: #235391;
}

header li,a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color:#5d6169;
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    margin: 0 70px;
}

.logo {
    cursor: pointer;
    width: 150px;
    height: 100px;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #054bb4;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 70px 0px 70px;
}

.hero-text {
    max-width: 450px;
    text-align: right;
}

.hero-text h1 {
    color: #e14177;
    font-size: 30px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 800px;
    margin-bottom: 20px;

}
.hero-text p {
    color: #030303;
    line-height: 20px;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
}

/* Courses  1 */

.container {
    margin: 0px 70px;
}
.section-header {
    margin-top: 50px;
    text-align: left;

}
.section-title {
    color: black;
    font-size: 30px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 800px;
}

.section-tagline {
    color: #030303;
    line-height: 20px;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
}

.row{
    margin-top: 30px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: #e14177;*/
}
.card {
    background-color: /*#fffefe*/ #fcfcfc;
    margin: 10px;


}


.card-img img {
    width:350px;
    height:350px;
    transition: all 1s;
    

}
.card-img img:hover {
    transform: scale(1.2);
}

.card-text h2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 800px;
}

.card-text {
    background-color: #ffffff;
}
.card-text button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px;
    color: #ffffff;
    background-color: #e14177;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 0;
}

/* Courses 2 */


/* courses */
#view-course .section-title {
    margin-top: 120px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
    color: #030303;

}
.view-course{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    margin-left: 70px;
    margin-right: 70px;
  }
  
  .view-course .box{
    flex:1 1 300px;
    border-radius: 8px;
    border:3px solid rgba(0,0,0,.1);
    padding:16px;
    position: relative;
  }
  
  
  .view-course .box .amount{
    position: absolute;
    top:16px; left:16px;
    font-size: 15px;
    padding:.10px 8px;
    background:#e14177;
    color:#fff;
    border-radius: .5rem;
    font-family: "Roboto", sans-serif;
  }
  
  .view-course .box .stars i{
    color:#e14177;
    font-size: 24px;
    padding:1rem 0;
  }
  
  .view-course .box h3{
    color:black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  }
  
  .view-course .box p{
    color:#666;
    font-size: 16px;
    padding:8px 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .view-course .icons{
    display: flex;
    justify-content: space-between;
    border-top: 0.8px solid rgba(0,0,0,.1);
    margin-top: 16px;
    padding:8px;
    padding-top: 16px;
  }
  
  .view-course .icons p{
    color:#666;
    font-size: 15px;
  }
  
  .view-course .icons p i{
    padding-right: 6px;
    color:#e14177;
  }

  .view-course .btn {
    background-color: #2e5caf;
    color: #ffffff;
    padding: 6px 10px;
    border: none;
    border-radius: 50px;
    margin-left: 0;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
  }



/*----Footer----*/
        
#footer {
    font-family: "Montserrat", sans-serif;
    margin: 60px 70px 0 70px ;
}
hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #054bb4;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left-col {
    flex-basis: 50%;
    margin-top: 60px;
}

.footer-right-col {
    flex-basis: 35%;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 {
    color: #e14177;
    margin-bottom: 20px;
}

.link-title small {
    font-size: 13px;
    color: #777;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}


.footer-logo img {
    width: 100px;
}

.footer-logo button {
    font-family: "Montserrat", sans-serif;
    padding: 12px 40px;
    margin-top: 20px;
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
    padding: 9px 25px;
    color: #ffffff;
    background-color: #e14177;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500px;
}

.copyright-text,
.footer-logo {
    flex-basis: 40%;
}

