@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
/* header */
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
}
li,a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #054bb4;
    text-decoration: none;
    margin-left: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    margin: 0 50px;
}

.logo {
    cursor: pointer;
    width: 150px;
    height: auto;
    background: none;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #054bb4;
}

button {
    padding: 9px 25px;
    color: #ffffff;
    background-color: #e14177;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #235391;
}
.section-hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 30px 50px;
}
.section-hero-left {
    /*background-color: aqua;*/
}
.section-hero-text {
    max-width: 500px;
    
}
.section-hero-text h1 {
    color: black;
    font-size: 40px;
    line-height: 50px;
    font-family: sans-serif;
}
.section-hero-text p {
    color: #5d6169;
    line-height: 30px;
    font-family: sans-serif;
}
.common-btn {
margin-left: 0;
margin-top:30px ;
}